* {box-sizing: border-box;margin: 0;}

body {font-family: raleway;font-weight: 400;font-size: 14px;height:100vh;}

.container {display: flex;flex-wrap: wrap;flex-direction: row;width:375px;}

.initial-header {flex-basis:300px;
    background-color: hsl(228,56%,26%);width: 300px;height: 200px;border-top-right-radius: 33%;top:25%;left:10%;position: absolute;}

    body {background-image: url("./images/bg-mobile.png");background-size: cover;background-repeat: no-repeat;}

    .logo {position: absolute;top:10%;left:12%;}

    .main1 {flex-basis:300px;height:175px;width:300px;background-color:hsl(228,56%,26%);border-style: solid;border-color: #fff;position:absolute;top:60%; left:10%;}

    .document {position: absolute;top:45%;left:17%;z-index: 99; }
    .folder { 
    position: absolute;top:45%;left:38%;z-index: 99;
    }
.wrapper {display: flex;flex-direction: row;position: relative;top: 41%;left:0%;}
    .box1 {display: block;
        width:40px; height:40px;background-color: hsl(229,57%,11%);position: absolute;left:14%;
    
    }.box2 {display: block;
        width:40px; height:40px;background-color: hsl(229,57%,11%);position: absolute;right:51%}

        .box3 {display: block;
            width:40px; height:40px;position: absolute;right:30%;
            background-color: hsl(229,57%,11%);}
    .attribution {color:#fff}